<!DOCTYPE HTML>

<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="console/header">
</head>
<body>
<style>
    .searchBox {
        margin: 5px 0;
        clear: both;
    }
    .searchBox .inline-block {
        float: left;
        margin-right: 20px;
    }
    .searchBox .inline-block > input {
        display: inline-block;
        width: 125px;
        padding: 0 5px;
    }
</style>
<section class="content-header">
    <h1>配送管理</h1>
    <!--<small>列表管理</small>-->
</section>
<ul id="myTab" class="nav nav-tabs">
    <li class="active">
        <a href="#unfinish" data-toggle="tab">未完成</a>
    </li>
    <li ><a href="#finish" data-toggle="tab">已完成</a></li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="unfinish">
        <section class="content table-content">
            <table id="dataGrid"></table>
        </section>
        <div id="toolbar">
            <div class="btn-group " >
                <a href="/console/distrib/form" class="btn btn-primary">新增配送</a>
                <a state="1" href="javascript:receclick()" class="btn btn-primary">接单处理</a>
                <a state="2"  href="javascript:pickclick()" class="btn btn-primary">配货处理</a>
                <a state="3"  href="javascript:dataclick()" class="btn btn-primary">开单处理</a>
                <a state="4"  href="javascript:checkclick()" class="btn btn-primary">复核处理</a>
                <a state="5"  href="javascript:packclick()" class="btn btn-primary">打包处理</a>
                <a state="6"  href="javascript:distclick()" class="btn btn-primary">送货处理</a>
                <a state="7"  href="javascript:delclick()" class="btn btn-primary">删除处理</a>
                <!--<a shiro:hasPermission="distrib:rece" href="javascript:receclick()"  class="btn btn-primary" >接货</a>-->
                <!--    <a shiro:hasPermission="receipt:acre" href="/console/receipt/form" class="btn btn-primary" >验收退货</a>
                    <a shiro:hasPermission="receipt:acch" href="/console/receipt/form" class="btn btn-primary" >验收复核</a>
                    <a shiro:hasPermission="receipt:acba" href="/console/receipt/form" class="btn btn-primary" >验收退单</a>
                    <a shiro:hasPermission="receipt:tall" href="/console/receipt/form" class="btn btn-primary" >理货上架</a>-->
            </div>

            <div class="searchBox">

                <div class="inline-block">
                    <label for="billno" class="control-label">单据编号:</label>
                    <input type="text" name="billno" class="form-control" id="billno"/>
                </div>
                <div class="inline-block">
                    <label for="shipmentTime" class="control-label">出货时间:</label>
                    <input type="text" name="shipmentTime" class="form-control" id="shipmentTime"/>
                </div>
                <div class="inline-block">
                    <label for="receaddr" class=" control-label">收货地址:</label>
                    <input type="text" name="receaddr" class="form-control" id="receaddr"/>
                </div>
                <div class="inline-block">
                    <label for="creatTimeBegin" class="control-label">制单开始:</label>
                    <input type="text" name="creatTimeBegin" class="form-control" id="creatTimeBegin"/>
                </div>
                <div class="inline-block">
                    <label for="creatTimeEnd" class="control-label">制单截止:</label>
                    <input type="text" name="creatTimeEnd" class="form-control" id="creatTimeEnd"/>
                </div>
                <a href="javascript:serachclick()" class="btn btn-primary">查询</a>
                <a href="javascript:excelclick()" class="btn btn-primary">导出</a>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="finish">
        <section class="content table-content">
            <table id="dataGrid2"></table>
        </section>
        <div id="toolbar2">
            <div class="searchBox">
                <div class="inline-block">
                    <label for="billno2" class="control-label">单据编号:</label>
                    <input type="text" name="billno2" class="form-control" id="billno2"/>
                </div>
                <div class="inline-block">
                    <label for="receaddr2" class=" control-label">收货地址:</label>
                    <input type="text" name="receaddr2" class="form-control" id="receaddr2"/>
                </div>
                <div class="inline-block">
                    <label for="creatTimeBegin2" class="control-label">制单开始:</label>
                    <input type="text" name="creatTimeBegin2" class="form-control" id="creatTimeBegin2"/>
                </div>
                <div class="inline-block">
                    <label for="creatTimeEnd2" class="control-label">制单截止:</label>
                    <input type="text" name="creatTimeEnd2" class="form-control" id="creatTimeEnd2"/>
                </div>
                <a href="javascript:serachclick2()" class="btn btn-primary">查询</a>
                <a href="javascript:excelclick2()" class="btn btn-primary">导出</a>
            </div>
        </div>
    </div>
</div>
<div th:include="console/footer"></div>
</body>
<script type="text/javascript">

    /*<![CDATA[*/

    $table = $("#dataGrid");
    $table2 = $("#dataGrid2");
    $(function () {
        initDataGrid();
        initDataGrid2();
        intiCalendarWithTime("#shipmentTime");
        intiCalendar("#creatTimeBegin");
        intiCalendar("#creatTimeEnd");
        intiCalendar("#creatTimeBegin2");
        intiCalendar("#creatTimeEnd2");
        $('#myTab li:eq(0) a').tab('show');
    });

    function intiCalendarWithTime(eid){
        $(eid).jeDate({
            format: "YYYY-MM-DD hh:mm:ss",
            isinitVal:true
        });
    }

    function intiCalendar(eid){
        $(eid).jeDate({
            format: "YYYY-MM-DD hh:mm:ss"
        });
    }

    function initDataGrid() {
        $table.bootstrapTable({
            height: tableModel.getHeight(),
            idField: "uid",
            checkboxHeader: true,
            //search: true,
            // searchOnEnterKey: true,
            sortName: 'createdat',
            sortOrder: 'asc',
            pagination: true,
            clickToSelect: true, //是否启用点击选中行
            sidePagination: 'server',
            pageSize: 10,
            pageList: [10, 20, 30],
            toolbar: "#toolbar",
            // showRefresh: true,
            // showToggle: true,
            singleSelect: true,
            columns: [
                [{title: "物流中心配送信息一览表", halign: "center", align: "center", colspan: 16}],

                [
                    {title: "数据部", valign: "middle", align: "center", colspan: 9, rowspan: 1},
                    {title: "仓储部", valign: "middle", align: "center", colspan: 1, rowspan: 1},
                    {title: "数据部", valign: "middle", align: "center", colspan: 1, rowspan: 1},
                    {title: "仓储部", valign: "middle", align: "center", colspan: 1, rowspan: 1},
                    {title: "配送部", valign: "middle", align: "center", colspan: 4, rowspan: 1}
                    //{title: "松下a", valign: "middle", align: "center", colspan: 2, rowspan: 1}
                ],

                [
                    //增加选择列
                    {checkbox: true},
                    /*{title: "操作", field: "operate", align: 'center', events: operateEvents, formatter: operateFormatter},*/
                    // {title: "单据状态", field: "state", align: "center"},
                    {title: "单据状态", field: "state", align: "center",formatter: stateFormatter},
                    {title: "单号", field: "distribNum", align: "center"},
                    {title: "订货单位<br/>出货时间", field: "orderinfor", align: "center"},
                    {title: "产品名称", field: "productname", align: "center"},
                    {title: "单位", field: "unit", align: "center"},
                    {title: "数量", field: "number", align: "center"},
                    {title: "厂家", field: "factory", align: "center"},
                    {title: "接单员", field: "recestartend", align: "center"},
                    {title: "配货员", field: "pickstartend", align: "center"},
                    {title: "开单员", field: "datastartend", align: "center"},
                    {title: "复核员", field: "checkstartend", align: "center"},
                    {title: "打包员", field: "packstartend", align: "center"},
                    {title: "送货员", field: "diststartend", align: "center"},
                    {title: "收货地<br/>发出时间", field: "shipinfor", align: "center"},
                    {title: "收货<br/>到货时间", field: "arriinfor", align: "center"}
                ]
            ],
            url: '/console/distrib/listrole',
            queryParams: function (distrib) {
                //var state = [0,1];
                var distrib = {
                    distribNum:$("#billno").val(),
                    shipmentTime:$("#shipmentTime").val(),
                    receiptAddr:$("#receaddr").val(),
                    createdat:$("#creatTimeBegin").val(),
                    updatedat:$("#creatTimeEnd").val()
                }
                return distrib;
            },
            responseHandler: function (res) {
                return {
                    rows: res.result.pageInfo.list,
                    total: res.result.pageInfo.total
                }
            },
            onClickRow: function (item, $element) {
                console.log('click Row');
                console.log(item);
                var state = item.state ;
                // showAndHideButtons(state);

            }

        });
    }

    function initDataGrid2() {
        $table2.bootstrapTable({
            height: tableModel.getHeight(),
            idField: "uid",
            checkboxHeader: true,
            //search: true,
            // searchOnEnterKey: true,
            sortName: 'createdat',
            sortOrder: 'asc',
            pagination: true,
            clickToSelect: true, //是否启用点击选中行
            sidePagination: 'server',
            pageSize: 10,
            pageList: [10, 20, 30],
            toolbar: "#toolbar2",
            // showRefresh: true,
            // showToggle: true,
            singleSelect: true,
            columns: [
                [{title: "物流中心配送信息一览表", halign: "center", align: "center", colspan: 16}],

                [
                    {title: "数据部", valign: "middle", align: "center", colspan: 9, rowspan: 1},
                    {title: "仓储部", valign: "middle", align: "center", colspan: 1, rowspan: 1},
                    {title: "数据部", valign: "middle", align: "center", colspan: 1, rowspan: 1},
                    {title: "仓储部", valign: "middle", align: "center", colspan: 1, rowspan: 1},
                    {title: "配送部", valign: "middle", align: "center", colspan: 4, rowspan: 1}
                    //{title: "松下a", valign: "middle", align: "center", colspan: 2, rowspan: 1}
                ],

                [
                    //增加选择列
                    {checkbox: true},
                    /*{title: "操作", field: "operate", align: 'center', events: operateEvents, formatter: operateFormatter},*/
                    // {title: "单据状态", field: "state", align: "center"},
                    {title: "单据状态", field: "state", align: "center",formatter: stateFormatter},
                    {title: "单号", field: "distribNum", align: "center"},
                    {title: "订货单位<br/>出货时间", field: "orderinfor", align: "center"},
                    {title: "产品名称", field: "productname", align: "center"},
                    {title: "单位", field: "unit", align: "center"},
                    {title: "数量", field: "number", align: "center"},
                    {title: "厂家", field: "factory", align: "center"},
                    {title: "接单员", field: "recestartend", align: "center"},
                    {title: "配货员", field: "pickstartend", align: "center"},
                    {title: "开单员", field: "datastartend", align: "center"},
                    {title: "复核员", field: "checkstartend", align: "center"},
                    {title: "打包员", field: "packstartend", align: "center"},
                    {title: "送货员", field: "diststartend", align: "center"},
                    {title: "收货地<br/>发出时间", field: "shipinfor", align: "center"},
                    {title: "收货<br/>到货时间", field: "arriinfor", align: "center"}
                ]
            ],
            url: '/console/distrib/getAllDistribs',
            queryParams: function (distrib) {
                //var state = [0,1];
                var distrib = {
                    distribNum:$("#billno2").val(),
                    receiptAddr:$("#receaddr2").val(),
                    createdat:$("#creatTimeBegin2").val(),
                    updatedat:$("#creatTimeEnd2").val()
                }
                return distrib;
            },
            responseHandler: function (res) {
                return {
                    rows: res.result.pageInfo.list,
                    total: res.result.pageInfo.total
                }
            },
            onClickRow: function (item, $element) {
                console.log('click Row');
                console.log(item);
                var state = item.state ;
                // showAndHideButtons(state);

            }

        });
    }

    var D_CONSTANT = {
        1:'新增配送',
        2:'接单开始',
        3:'接单结束',
        4:'配货开始',
        5:'配货结束',
        6:'开单开始',
        7:'开单结束',
        8:'复核开始',
        9:'复核结束',
        10:'打包开始',
        11:'打包结束',
        12:'送货开始',
        13:'送货结束'
    };
    function stateFormatter(value, row, index) {

        var state = D_CONSTANT[value];
        var str = [];

        switch (value)
        {
            case 1:
                str.push('<small class="label label-success">');
                break;
            case 13:
                str.push('<small class="label label-danger">');
                break;
            default:
                if(value % 2 == 0){
                    str.push('<small class="label label-info">');
                }else{
                    str.push('<small class="label label-warning">');
                }
        }
        str.push(state);
        str.push('</small>');
        return str.join('');
    }

    function operateFormatter(value, row, index) {
        return [
            '<a href="/console/distrib/form?uid=' + row.uid + '" >',
            '<i class="glyphicon glyphicon-edit"></i>修改',
            '</a>  ',
            '<a class="remove" href="javascript:void(0);" >',
            '<i class="glyphicon glyphicon-remove"></i>删除',
            '</a>'
        ].join('');
    }


    window.operateEvents = {
        'click .remove': function (e, value, row, index) {
            if (row.state !== 1) {
                alert("已进入流程或流程结束，不能删除！");
            } else {
                operaModel.delRow(row.uid, '/console/distrib/delete', 'uid');
            }
        }
    };

    // 按钮点击事件
    function receclick() {
        //alert("接单处理");
        var selectContent = $table.bootstrapTable('getSelections')[0];
        //alert(selectContent);
        if (typeof(selectContent) == 'undefined') {
            //layer.message('请选择一列数据!');
            layer.msg('请选择一列数据!');
            return false;
        } else {
            console.info(selectContent);
            if (selectContent.state == 1 || selectContent.state == 2) {
                var url = "/console/distrib/formlayer?uid=" + selectContent.uid;
                layer.open({
                    type: 2,
                    title: '欢迎页',
                    maxmin: true,
                    area: ['800px', '500px'],
                    content: url,
                    end: function(){

                        //layer.tips('Hi', '#about', {tips: 1})
                    }
                });
            } else {
                // alert('状态不匹配!')
                layer.msg('状态不匹配');
            }
        }

    };

    // 按钮点击事件
    function pickclick() {
        //alert("配货处理");
        var selectContent = $table.bootstrapTable('getSelections')[0];
        //alert(selectContent);
        if (typeof(selectContent) == 'undefined') {
            //layer.message('请选择一列数据!');
            layer.msg('请选择一列数据');
            return false;
        } else {
            console.info(selectContent);
            if (selectContent.state == 3 || selectContent.state == 4) {
                var url = "/console/distrib/formlayer?uid=" + selectContent.uid;
                layer.open({
                    type: 2,
                    title: '欢迎页',
                    maxmin: true,
                    area: ['800px', '500px'],
                    content: url,
                    end: function(){

                        //layer.tips('Hi', '#about', {tips: 1})
                    }
                });
            } else {
                layer.msg('状态不匹配');
            }
        }

    };

    // 按钮点击事件
    function dataclick() {
        //alert("开单处理");
        var selectContent = $table.bootstrapTable('getSelections')[0];
        //alert(selectContent);
        if (typeof(selectContent) == 'undefined') {
            //layer.message('请选择一列数据!');
            layer.msg('请选择一列数据');
            return false;
        } else {
            console.info(selectContent);
            if (selectContent.state == 5 || selectContent.state == 6) {
                var url = "/console/distrib/formlayer?uid=" + selectContent.uid;
                layer.open({
                    type: 2,
                    title: '欢迎页',
                    maxmin: true,
                    area: ['800px', '500px'],
                    content: url,
                    end: function(){

                        //layer.tips('Hi', '#about', {tips: 1})
                    }
                });
            } else {
                layer.msg('状态不匹配');
            }
        }

    };

    // 按钮点击事件
    function checkclick() {
        //alert("复核处理");
        var selectContent = $table.bootstrapTable('getSelections')[0];
        //alert(selectContent);
        if (typeof(selectContent) == 'undefined') {
            //layer.message('请选择一列数据!');
            layer.msg('请选择一列数据!');
            return false;
        } else {
            console.info(selectContent);
            if (selectContent.state == 7 || selectContent.state == 8) {
                var url = "/console/distrib/formlayer?uid=" + selectContent.uid;
                layer.open({
                    type: 2,
                    title: '欢迎页',
                    maxmin: true,
                    area: ['800px', '500px'],
                    content: url,
                    end: function(){

                        //layer.tips('Hi', '#about', {tips: 1})
                    }
                });
            } else {
                layer.msg('状态不匹配');
            }
        }

    };

    // 按钮点击事件
    function packclick() {
        //alert("打包处理");
        var selectContent = $table.bootstrapTable('getSelections')[0];
        //alert(selectContent);
        if (typeof(selectContent) == 'undefined') {
            //layer.message('请选择一列数据!');
            layer.msg('请选择一列数据!');
            return false;
        } else {
            console.info(selectContent);
            if (selectContent.state == 9 || selectContent.state == 10) {
                var url = "/console/distrib/formlayer?uid=" + selectContent.uid;
                layer.open({
                    type: 2,
                    title: '欢迎页',
                    maxmin: true,
                    area: ['800px', '500px'],
                    content: url,
                    end: function(){

                        //layer.tips('Hi', '#about', {tips: 1})
                    }
                });
            } else {
                layer.msg('状态不匹配');
            }
        }

    };

    // 按钮点击事件
    function distclick() {
        //alert("送货处理");
        var selectContent = $table.bootstrapTable('getSelections')[0];
        //alert(selectContent);
        if (typeof(selectContent) == 'undefined') {
            //layer.message('请选择一列数据!');
            layer.msg('请选择一列数据!');
            return false;
        } else {
            console.info(selectContent);
            if (selectContent.state == 11 || selectContent.state == 12) {
                var url = "/console/distrib/formlayer?uid=" + selectContent.uid;
                layer.open({
                    type: 2,
                    title: '欢迎页',
                    maxmin: true,
                    area: ['800px', '500px'],
                    content: url,
                    end: function(){

                        //layer.tips('Hi', '#about', {tips: 1})
                    }
                });
            } else {
                layer.msg('状态不匹配');
            }
        }

    };

    function serachclick() {
        $table.bootstrapTable('refresh');
    }

    function serachclick2() {
        $table2.bootstrapTable('refresh');
    }

    function excelclick() {
        var distrib = {
            distribNum:$("#billno").val(),
            shipmentTime:$("#shipmentTime").val(),
            receiptAddr:$("#receaddr").val(),
            createdat:$("#creatTimeBegin").val(),
            updatedat:$("#creatTimeEnd").val()
        }
        var url = '/console/distrib/excel';
        $.ajax({
            url:url,
            type:'get',
            data:distrib,
            dataType:'json',
            success:function(result){
                console.log(result);
                if(result.referer){

                }
            }
        })
    }

    function excelclick2() {
        var distrib = {
            distribNum:$("#billno2").val(),
            receiptAddr:$("#receaddr2").val(),
            createdat:$("#creatTimeBegin2").val(),
            updatedat:$("#creatTimeEnd2").val()
        }
        var url = '/console/distrib/excel2';
        $.ajax({
            url:url,
            type:'get',
            data:distrib,
            dataType:'json',
            success:function(result){
                console.log(result);
                if(result.referer){

                }
            }
        })
    }



    function showAndHideButtons(state){

       var buttons =  $("#toolbar a[state]");
        resetButtons(buttons);
        toggleButtonsByState(buttons,state);

    }


    function resetButtons(buttons){
        $.each(buttons,function(idx,it){
            $(this).show();
        });
    }

    function toggleButtonsByState(buttons,state){
        $.each(buttons,function(index,item){
            console.log(index,item);
            var button_state = $(this).attr("state");
            if(Math.floor(state/2)>button_state){
                $(this).hide();
            }

        });
        /*$.each(buttons,function(index,item){
            console.log(index,item);
            var button_state = $(this).attr("state");
            if(Math.floor(state/2)==button_state){
                $(this).show();
            }else{
                $(this).hide();
            }
            if(state==1){
                $("a[state=1]").show();
            }

        });*/
    }

    function delclick(){
        var selRow = $table.bootstrapTable('getSelections')[0];
        if(!selRow){
            layer.msg('请选择一列数据!');
        }

        var uid = selRow.uid;
        var url = "/console/distrib/delete";

        //询问框
        layer.confirm('你确定要删除此数据？', {
            btn: ['是的','取消'] //按钮
        }, function(){

            $.ajax({
                url:url,
                type:'POST',
                data:{uid:uid},
                success:function(res){
                    console.log(res);
                    if(res.success){
                        layer.msg('数据删除成功');
                    }else{
                        layer.msg(res.msg);
                    }

                    var opt = {
                        url: "/console/distrib/listrole",
                        silent: true,
                        query:{
                            type:1,
                            level:2
                        }
                    };
                    $table.bootstrapTable('refresh', opt);

                }
            });

        }, function(){
            /*layer.msg('也可以这样', {
                time: 20000, //20s后自动关闭
                btn: ['明白了', '知道了']
            });*/
        });






    }

    /*]]>*/


</script>
</html>