<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="console/header">


</head>
<body>
<style>
    .textbox{width: 100% !important;}
</style>
<section class="content">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title" th:text="'配送'+${#strings.isEmpty(distrib.uid)?'添加':'修改'}"></h3>
                </div>
                <div class="box-body">
                    <form class="form-horizontal js-ajax-form" action="/console/distribrecovery/save" method="post">
                        <input type="hidden" name="uid" id="uid" th:value="${distrib.uid}" />
                        <input type="hidden" name="createdAt" id="createdAt" th:value="${distrib.createdat}" />
                        <input type="hidden" name="updatedAt" th:value="${distrib.updatedat}" />
                        <input type="hidden" name="productname" id="productname" th:value="${distrib.productname}" />
                        <input type="hidden" name="unit" id="unit" th:value="${distrib.unit}" />
                        <input type="hidden" name="number" id="number" th:value="${distrib.number}" />
                        <input type="hidden" name="factory" id="factory" th:value="${distrib.factory}" />
                        <input type="hidden" name="orderBegin" id="orderBegin" th:value="${distrib.orderBegin}" />
                        <input type="hidden" name="orderEnd" id="orderEnd" th:value="${distrib.orderEnd}" />
                        <input type="hidden" name="pickBegin" id="pickBegin" th:value="${distrib.pickBegin}" />
                        <input type="hidden" name="pickEnd" id="pickEnd" th:value="${distrib.pickEnd}" />
                        <input type="hidden" name="dataBegin" id="dataBegin" th:value="${distrib.dataBegin}" />
                        <input type="hidden" name="dataEnd" id="dataEnd" th:value="${distrib.dataEnd}" />
                        <input type="hidden" name="distribCheckBegin" id="distribCheckBegin" th:value="${distrib.distribCheckBegin}" />
                        <input type="hidden" name="distribCheckEnd" id="distribCheckEnd" th:value="${distrib.distribCheckEnd}" />
                        <input type="hidden" name="distribPackBegin" id="distribPackBegin" th:value="${distrib.distribPackBegin}" />
                        <input type="hidden" name="distribPackEnd" id="distribPackEnd" th:value="${distrib.distribPackEnd}" />
                        <input type="hidden" name="distribBegin" id="distribBegin" th:value="${distrib.distribBegin}" />
                        <input type="hidden" name="distribEnd" id="distribEnd" th:value="${distrib.distribEnd}" />
                        <input type="hidden" name="recieptMan" id="recieptMan" th:value="${distrib.recieptMan}" />
                        <input type="hidden" name="arrivalTime" id="arrivalTime" th:value="${distrib.arrivalTime}" />

                        <div class="form-group">
                            <label for="distribNum" class="col-sm-2 control-label">单据号</label>
                            <div class="col-sm-10">
                                <input type="text" name="distribNum" class="form-control" id="distribNum" th:readonly="${!#strings.equals(distrib.state,1)}" th:value="${distrib.distribNum}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="orderUnit" class="col-sm-2 control-label">订货单位</label>
                            <div class="col-sm-10">
                                <input type="text" name="orderUnit" class="form-control" id="orderUnit" th:readonly="${!#strings.equals(distrib.uid,null)}" th:value="${distrib.orderUnit}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="shipmentTime" class="col-sm-2 control-label">出货时间</label>
                            <div class="col-sm-10">
                                <input type="text" name="shipmentTime" class="form-control" id="shipmentTime" th:readonly="${!#strings.equals(distrib.uid,null)}" th:value="${distrib.shipmentTime}"/>
                            </div>
                        </div>
                        <!--<div class="form-group" display="none">
                            <label for="productname" class="col-sm-2 control-label">产品名称</label>
                            <div class="col-sm-10">
                                <input type="text" name="productname" class="form-control" id="productname" th:readonly="${!#strings.equals(distrib.uid,null)}" th:value="${distrib.productname}"/>
                            </div>
                        </div>
                        <div class="form-group" display="none">
                            <label for="unit" class="col-sm-2 control-label">单位</label>
                            <div class="col-sm-10">
                                <input type="text" name="unit" class="form-control" id="unit" th:readonly="${!#strings.equals(distrib.uid,null)}" th:value="${distrib.unit}"/>
                            </div>
                        </div>
                        <div class="form-group" display="none">
                        <label for="number" class="col-sm-2 control-label">数量</label>
                        <div class="col-sm-10">
                            <input type="text" name="number" class="form-control" id="number" th:readonly="${!#strings.equals(distrib.uid,null)}" th:value="${distrib.number}"/>
                        </div>
                    </div>
                        <div class="form-group" display="none">
                            <label for="factory" class="col-sm-2 control-label">厂家</label>
                            <div class="col-sm-10">
                                <input type="text" name="factory" class="form-control" id="factory" th:readonly="${!#strings.equals(distrib.uid,null)}" th:value="${distrib.factory}"/>
                            </div>
                        </div>-->
                        <div class="form-group" th:hidden="${!#strings.equals(distrib.state,1)}">
                            <label for="orderMan" class="col-sm-2 control-label">接单员</label>
                            <div class="col-sm-10">
                                <!--<input type="text" name="orderMan" class="form-control" id="orderMan" th:readonly="${!#strings.equals(distrib.uid,null)}" th:value="${distrib.orderMan}"/>-->
                                <input type="text" name="orderMan" class="form-control" id="orderMan" th:disabled="${!#strings.equals(distrib.state,1)}" th:value="${distrib.orderMan}"/>
                            </div>
                        </div>
                        <!--<div class="form-group" th:hidden="${!#strings.equals(distrib.state,2)}">
                        <label for="orderBegin" class="col-sm-2 control-label">接单开始</label>
                        <div class="col-sm-10">
                            <input type="text" name="orderBegin" class="form-control" id="orderBegin"  th:readonly="${!#strings.equals(distrib.uid,null)}" th:value="${distrib.orderBegin}"/>
                        </div>
                    </div>
                        <div class="form-group" th:hidden="${!#strings.equals(distrib.state,2)}">
                            <label for="orderEnd" class="col-sm-2 control-label">接单截止</label>
                            <div class="col-sm-10">
                                <input type="text" name="orderEnd" class="form-control" id="orderEnd"  th:readonly="${!#strings.equals(distrib.uid,null)}" th:value="${distrib.orderEnd}"/>
                            </div>
                        </div>-->
                        <div class="form-group" th:hidden="${!#strings.equals(distrib.state,3)}">
                            <label for="picker" class="col-sm-2 control-label">配货员</label>
                            <div class="col-sm-10">
                                <input type="text" name="picker" class="form-control" id="picker"  th:value="${distrib.picker}"/>
                            </div>
                        </div>
                        <!--<div class="form-group" th:hidden="${!#strings.equals(distrib.state,2)}">
                            <label for="pickBegin" class="col-sm-2 control-label">配货开始</label>
                            <div class="col-sm-10">
                                <input type="text" name="pickBegin" class="form-control" id="pickBegin"  th:value="${distrib.pickBegin}"/>
                            </div>
                        </div>
                        <div class="form-group" th:hidden="${!#strings.equals(distrib.state,2)}">
                            <label for="pickEnd" class="col-sm-2 control-label">配货截止</label>
                            <div class="col-sm-10">
                                <input type="text" name="pickEnd" class="form-control" id="pickEnd"  th:value="${distrib.pickEnd}"/>
                            </div>
                        </div>-->
                        <div class="form-group" th:hidden="${!#strings.equals(distrib.state,5)}">
                            <label for="dataMan" class="col-sm-2 control-label">开单员</label>
                            <div class="col-sm-10">
                                <input type="text" name="dataMan" class="form-control" id="dataMan"
                                       th:value="${distrib.dataMan}"/>
                            </div>
                        </div>
                        <div class="form-group" th:hidden="${!#strings.equals(distrib.state,5)}">
                            <label for="databillno" class="col-sm-2 control-label">配送单号</label>
                            <div class="col-sm-10">
                                <input type="text" name="databillno" class="form-control" id="databillno"
                                       th:value="${distrib.databillno}"/>
                            </div>
                        </div>
                        <!--<div class="form-group" th:hidden="${!#strings.equals(distrib.state,1)}">
                            <label for="dataBegin" class="col-sm-2 control-label">数据录入开始</label>
                            <div class="col-sm-10">
                                <input type="text" name="dataBegin" class="form-control" id="dataBegin"  th:value="${distrib.dataBegin}"/>
                            </div>
                        </div>
                        <div class="form-group" th:hidden="${!#strings.equals(distrib.state,1)}">
                            <label for="dataEnd" class="col-sm-2 control-label">数据录入截止</label>
                            <div class="col-sm-10">
                                <input type="text" name="dataEnd" class="form-control" id="dataEnd"  th:value="${distrib.dataEnd}"/>
                            </div>
                        </div>-->
                        <div class="form-group" th:hidden="${!#strings.equals(distrib.state,7)}">
                            <label for="distribCheckMan" class="col-sm-2 control-label">复核员</label>
                            <div class="col-sm-10">
                                <input type="text" name="distribCheckMan" class="form-control" id="distribCheckMan"
                                       th:value="${distrib.distribCheckMan}"/>
                            </div>
                        </div>
                        <!--<div class="form-group" th:hidden="${!#strings.equals(distrib.state,2)}">
                        <label for="distribCheckBegin" class="col-sm-2 control-label">复核开始</label>
                        <div class="col-sm-10">
                            <input type="text" name="distribCheckBegin" class="form-control" id="distribCheckBegin"  th:value="${distrib.distribCheckBegin}"/>
                        </div>
                    </div>
                        <div class="form-group" th:hidden="${!#strings.equals(distrib.state,2)}">
                            <label for="distribCheckEnd" class="col-sm-2 control-label">复核截止</label>
                            <div class="col-sm-10">
                                <input type="text" name="distribCheckEnd" class="form-control" id="distribCheckEnd"  th:value="${distrib.distribCheckEnd}"/>
                            </div>
                        </div>-->
                        <div class="form-group" th:hidden="${!#strings.equals(distrib.state,9)}">
                            <label for="distribPackMan" class="col-sm-2 control-label">打包员</label>
                            <div class="col-sm-10">
                                <input type="text" name="distribPackMan" class="form-control" id="distribPackMan"
                                       th:value="${distrib.distribPackMan}"/>
                            </div>
                        </div>
                        <!--<div class="form-group" th:hidden="${!#strings.equals(distrib.state,3)}">
                            <label for="distribPackBegin" class="col-sm-2 control-label">打包开始</label>
                            <div class="col-sm-10">
                                <input type="text" name="distribPackBegin" class="form-control" id="distribPackBegin"  th:value="${distrib.distribPackBegin}"/>
                            </div>
                        </div>
                        <div class="form-group" th:hidden="${!#strings.equals(distrib.state,3)}">
                            <label for="distribPackEnd" class="col-sm-2 control-label">打包结束</label>
                            <div class="col-sm-10">
                                <input type="text" name="distribPackEnd" class="form-control" id="distribPackEnd"  th:value="${distrib.distribPackEnd}"/>
                            </div>
                        </div>-->
                        <div class="form-group" th:hidden="${!#strings.equals(distrib.state,11)}">
                            <label for="distribDeliMan" class="col-sm-2 control-label">配送员</label>
                            <div class="col-sm-10">
                                <input type="text" name="distribDeliMan" class="form-control" id="distribDeliMan"
                                       th:value="${distrib.distribDeliMan}"/>
                            </div>
                        </div>
                        <!--<div class="form-group" th:hidden="${!#strings.equals(distrib.state,3)}">
                            <label for="distribBegin" class="col-sm-2 control-label">配送开始</label>
                            <div class="col-sm-10">
                                <input type="text" name="distribBegin" class="form-control" id="distribBegin"  th:value="${distrib.distribBegin}"/>
                            </div>
                        </div>
                        <div class="form-group" th:hidden="${!#strings.equals(distrib.state,3)}">
                            <label for="distribEnd" class="col-sm-2 control-label">配送截止</label>
                            <div class="col-sm-10">
                                <input type="text" name="distribEnd" class="form-control" id="distribEnd"  th:value="${distrib.distribEnd}"/>
                            </div>
                        </div>-->
                        <div class="form-group">
                            <label for="receiptAddr" class="col-sm-2 control-label">收货地址</label>
                            <div class="col-sm-10">
                                <input type="text" name="receiptAddr" class="form-control" id="receiptAddr"
                                       th:readonly="${!#strings.equals(distrib.uid,null)}"
                                       th:value="${distrib.receiptAddr}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="sendoutTime" class="col-sm-2 control-label">发出时间</label>
                            <div class="col-sm-10">
                                <input type="text" name="sendoutTime" class="form-control" id="sendoutTime"
                                       th:readonly="${!#strings.equals(distrib.uid,null)}"
                                       th:value="${distrib.sendoutTime}"/>
                            </div>
                        </div>
                        <!--<div class="form-group">
                            <label for="recieptMan" class="col-sm-2 control-label">收货人</label>
                            <div class="col-sm-10">
                                <input type="text" name="recieptMan" class="form-control" id="recieptMan"  th:value="${distrib.recieptMan}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="arrivalTime" class="col-sm-2 control-label">到货时间</label>
                            <div class="col-sm-10">
                                <input type="text" name="arrivalTime" class="form-control" id="arrivalTime"  th:value="${distrib.arrivalTime}"/>
                            </div>
                        </div>-->
                        <div class="form-group">
                            <label for="state" class="col-sm-2 control-label" >状态</label>
                            <div class="col-sm-10">
                                <input type="text" name="state" class="form-control" id="state"
                                       th:readonly="${1==1}" th:value="${distrib.state}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" id="start" class="btn btn-default  col-md-3 btn-info btn-flat js-ajax-submit">开始</button>
                                <!--<button type="button" id="end" class="btn btn-default js-ajax-submit">结束</button>-->
                                <!--<button type="submit" class="btn btn-default js-ajax-submit">提交</button>-->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:include="console/footer"></div>
</body>

<script type="text/javascript">

    /*<![CDATA[*/

    $(function () {

        change_btn_text();

        //点击开始按钮
        start_click();
        initCalendar();

        createEmpSelect("#orderMan", 2);
        createEmpSelect("#picker", 1);
        createEmpSelect("#dataMan", 2);
        createEmpSelect("#distribCheckMan", 1);
        createEmpSelect("#distribPackMan", 3);
        createEmpSelect("#distribDeliMan", 3);

    });

    function change_btn_text(){
        var billstate = $("#state").val();//单据状态
            billstate = isNaN(parseInt(billstate)) ? 0 : parseInt(billstate);
            if(billstate % 2 == 0 ){
                $("#start").text("结束");
            }



    }

    function initCalendar(){
        $("#shipmentTime,#orderBegin,#orderEnd,#dataBegin,#dataEnd,#distribCheckBegin,#distribCheckEnd,#distribBegin,#distribEnd,#sendoutTime,#arrivalTime").datetimepicker({
            format: 'yyyy-mm-dd hh:ii',
            language: 'zh-CN',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 1,
            forceParse: 0,
            showMeridian: 1
        });
    }

    function createEmpSelect(nid, type) {
        $(nid).combobox({
            // url: '/console/employee/combobox',
            url: '/console/employee/getAllEmpsByDept?type=' + type,
            valueField: 'empName',
            textField: 'empName',
            onLoadSuccess: function (result) {
                console.log(result);
                var emplist = result.result.emplist || [];
                $(nid).combobox('loadData', emplist);
            }
        });
    }

    function getNowFormatDate() {
        var date = new Date();
        var seperator1 = "-";
        var seperator2 = ":";
        var month = date.getMonth() + 1;
        var strDate = date.getDate();
        if (month >= 1 && month <= 9) {
            month = "0" + month;
        }
        if (strDate >= 0 && strDate <= 9) {
            strDate = "0" + strDate;
        }
        var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate
            + " " + date.getHours() + seperator2 + date.getMinutes()
            + seperator2 + date.getSeconds();
        return currentdate;
    }

    function start_click() {

        $('#start').on('click', function () {

            var uid = $("#uid").val();
            var distribNum = $("#distribNum").val();
            var orderUnit = $("#orderUnit").val();
            var productname = $("#productname").val();
            var factory = $('#factory').val();
            var unit = $('#unit').val();
            var number = $('#number').val();
            var shipmentTime = $("#shipmentTime").val();
            var orderBegin = $('#orderBegin').val();
            var orderEnd = $('#orderEnd').val();
            var orderMan = $('#orderMan').textbox('getValue');
            var dataMan = $('#dataMan').val();
            var picker = $('#picker').val();
            var pickBegin = $('#pickBegin').val();
            var pickEnd = $('#pickEnd').val();
            var databillno = $('#databillno').val();
            var dataBegin = $('#dataBegin').val();
            var dataEnd = $('#dataEnd').val();
            var distribCheckMan = $('#distribCheckMan').val();
            var distribCheckBegin = $('#distribCheckBegin').val();
            var distribCheckEnd = $('#distribCheckEnd').val();
            var distribPackMan = $("#distribPackMan").val();
            var distribPackBegin = $("#distribPackBegin").val();
            var distribPackEnd = $("#distribPackEnd").val();
            var distribDeliMan = $("#distribDeliMan").val();
            var distribBegin = $("#distribBegin").val();
            var distribEnd = $("#distribEnd").val();
            var receiptAddr = $("#receiptAddr").val();
            var sendoutTime = $("#sendoutTime").val();
            var recieptMan = $("#recieptMan").val();
            var arrivalTime = $("#arrivalTime").val();
            var createdat = $("#createdAt").val();

            var cuDate = getNowFormatDate();
            var billstate = $("#state").val();
            if(billstate==1){
                orderBegin = cuDate;
            }else if(billstate==2){
                orderEnd = cuDate;
            }else if(billstate==3){
                pickBegin = cuDate;
            }else if(billstate==4){
                pickEnd = cuDate;
            }else if(billstate==5){
                dataBegin = cuDate;
            }else if(billstate==6){
                dataEnd = cuDate;
            }else if(billstate==7){
                distribCheckBegin = cuDate;
            }else if(billstate==8){
                distribCheckEnd = cuDate;
            }else if(billstate==9){
                distribPackBegin = cuDate;
            }else if(billstate==10){
                distribPackEnd = cuDate;
            }else if(billstate==11){
                distribBegin = cuDate;
            }else if(billstate==12){
                distribEnd = cuDate;
            }

            var data  = {
                uid:uid,
                distribNum:distribNum,
                orderUnit:orderUnit,
                productname:productname,
                factory:factory,
                unit:unit,
                number:number,
                shipmentTime:shipmentTime,
                orderBegin:orderBegin,
                orderEnd:orderEnd,
                orderMan:orderMan,
                picker:picker,
                pickBegin:pickBegin,
                pickEnd:pickEnd,
                dataMan:dataMan,
                databillno:databillno,
                dataBegin:dataBegin,
                dataEnd:dataEnd,
                distribCheckMan:distribCheckMan,
                distribCheckBegin:distribCheckBegin,
                distribCheckEnd:distribCheckEnd,
                distribPackMan:distribPackMan,
                distribPackBegin:distribPackBegin,
                distribPackEnd:distribPackEnd,
                distribDeliMan:distribDeliMan,
                distribBegin:distribBegin,
                distribEnd:distribEnd,
                receiptAddr:receiptAddr,
                sendoutTime:sendoutTime,
                recieptMan:recieptMan,
                arrivalTime:arrivalTime,
                state:billstate,
                createdat:createdat
            };

            var url = '/console/distribrecovery/save';

            $.ajax({
                url:url,
                type:'post',
                data:data,
                dataType:'json',
                success:function(result){
                    console.log(result);
                    if(result.referer){

                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);


                        var opt = {
                            url: "/console/distribrecovery/listrole",
                            silent: true,
                            query:{
                                type:1,
                                level:2
                            }
                        };
                        parent.$table.bootstrapTable('refresh', opt);
                    }

                }

            })

        });
    }



    /*]]>*/

</script>
</html>